.restaurant-header {
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.section-title {
    border-left: 4px solid #d63384; /* El rosa de la imagen */
    padding-left: 10px;
    font-weight: bold;
    color: #4a1d1d;
}

.product-stack {
    display: flex;
    flex-direction: column;
    gap: 15px;
}